* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  max-width: 1110px;
  margin: 28px auto;
  margin-bottom: 132px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  gap: 56.5px;
}

.logo {
  width: 137.5px;
  height: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 15px;
  line-height: 26px;
  color: #69707d;
}

.nav-item {
  position: relative;
}

.nav-item:hover {
  color: #1d2026;
}

.nav-item:hover::after {
  content: '';
  position: absolute;
  bottom: -46px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff7e1b;
}

.nav-items a {
  text-decoration: none;
  color: inherit;
}

.right {
  display: flex;
  align-items: center;
  gap: 46.2px;
}

.cart {
  cursor: pointer;
  position: relative;
}

.cart .cart-quantity {
  width: 19px;
  height: 13px;
  background-color: #ff7e1b;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 6.5px;
  position: absolute;
  top: -6px;
  right: -6.2px;
}

.cart .cart-quantity.hidden {
  display: none;
}

.cart .cart-box {
  width: 360px;
  height: 256px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  position: absolute;
  top: 52px;
  left: -240px;
  background-color: #fff;
  cursor: auto;
  border-radius: 10px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.cart .cart-box.hidden {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.cart h3 {
  height: auto;
  font-size: 16px;
  font-weight: bold;
  margin: 24px;
  margin-bottom: 27px;
  color: #1d2026;
}

.cart .empty-text {
  font-size: 16px;
  font-weight: bold;
  color: #69707d;
  text-align: center;
  position: relative;
  margin-top: 77px;
}

.cart .line {
  margin: 0;
}

.cart-box .item {
  margin: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-box .item .img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
}

.cart-box .item .img img {
  width: 100%;
  height: 100%;
}

.cart-box .item .info {
  font-size: 16px;
  line-height: 26px;
  color: #69707d;
  font-weight: 400;
}

.cart-box .item .info h4 {
  font-weight: inherit;
}

.cart-box .item .info .price {
  font-weight: bold;
  color: #1d2026;
  margin-left: 10px;
}

.cart-box .item .delete {
  cursor: pointer;
}

.cart-box .checkout {
  margin: 0 24px;
  width: 312px;
  height: 56px;
  background-color: #ff7e1b;
  color: #1d2026;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.profile:hover {
  border: 2px solid #ff7e1b;
}

.profile img {
  width: 100%;
  height: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e4e9f2;
  margin-top: 34px;
  margin-bottom: 90px;
}

.profile img {
  width: 100%;
  height: 100%;
}

.product {
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-images {
  width: 445px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-image-large {
  width: 445px;
  height: 445px;
  border-radius: 15px;
  overflow: hidden;
  cursor: zoom-in;
}

.product-image-large img {
  width: 100%;
  height: 100%;
}

.product-images-small {
  display: flex;
  gap: 31px;
}

.product-image-small {
  width: 88px;
  height: 88px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.product-image-small:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.product-image-small.active {
  border: 2px solid #ff7e1b;
}

.product-image-small.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.product-image-small img {
  width: 100%;
  height: 100%;
}

.product-info {
  max-width: 445px;
  color: #1d2026;
}

.product-info h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1px;
  color: #69707d;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.product-info h2 {
  font-size: 44px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 32px;
}

.product-info p {
  font-size: 16px;
  line-height: 26px;
  color: #69707d;
  margin-bottom: 24px;
}

.product-info .price {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.product-info .discount {
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #1d2026;
  padding: 2.5px 10px;
  margin-left: 16px;
  display: inline-block;
  transform: translateY(-4px);
}

.product-info .price-before {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  color: #69707d;
  text-decoration: line-through;
  margin-bottom: 32px;
}

.product-info .input {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  vertical-align: middle;
}

.product-info .input img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.product-info .input .minus {
  left: 16px;
}

.product-info .input .plus {
  right: 16px;
}

.product-info input {
  border: none;
  outline: none;
  background-color: #f6f8fd;
  width: 157px;
  height: 56px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.product-info input::-webkit-inner-spin-button {
  display: none;
}

.product-info button {
  width: 272px;
  height: 56px;
  border: none;
  margin-left: 12px;
  border-radius: 10px;
  vertical-align: middle;
  color: #1d2026;
  background-color: #ff7e1b;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.product-info button:hover {
  background-color: #ffab6a;
}

.product-info button img {
  margin-right: 15.5px;
}

.light-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-box .product-image-large {
  width: 550px;
  height: 550px;
  cursor: auto;
  margin-bottom: 40px;
  position: relative;
  overflow: visible;
}

.light-box .product-image-large img {
  border-radius: 15px;
}

.light-box .prev-btn,
.light-box .next-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.light-box .prev-btn {
  left: 0;
  transform: translate(-50%, -50%);
}

.light-box .next-btn {
  right: 0;
  transform: translate(50%, -50%);
}

.light-box .prev-btn img,
.light-box .next-btn img {
  width: auto;
  height: auto;
}

.close-lightbox {
  width: 550px;
  display: flex;
  justify-content: flex-end;
}

.close-lightbox img {
  cursor: pointer;
  margin-bottom: 24px;
}

@media (max-width: 1025px) {
  .product {
    flex-direction: column;
    gap: 80px;
  }

  .product-images {
    width: 80%;
    align-items: center;
  }

  .product-image-large {
    width: 500px;
    height: 500px;
  }

  .product-info {
    max-width: 650px;
  }

  .product-info .input {
    margin-left: 100px;
  }
}

@media (max-width: 750px) {
  /* Hide navigation */
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
